.app {
  min-width: 325px;
}

.share-message {
  background: lightgreen;
  margin: 0;
  padding: 5px 10px 7px;
  text-align: center;
}

.message-list {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  padding: 0 0 60px;
}
